@model IEnumerable<aueProject.METTER_DATA>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("~/Content/Css/reset.css")
    @Styles.Render("~/Content/Css/Style.css")
    @Styles.Render("~/Content/Css/bootstrap.min.css")
    @Styles.Render("~/Content/Css/fa-all.min.css")
    <title>AUE Analysing System for ME96SS</title>
</head>

<body>
    <div id="app">
        <div id="side-bar">
            <div class="logo-text">ICONICS</div>
            <div class="electricity">
                <nav>
                    <ul>
                        <p class="icon-text-icon">
                            <i class="fa-solid fa-bolt"></i>
                            electricity
                            <i class="fa-solid fa-chevron-up"></i>
                        </p>
                        <li>Meter 1</li>
                        <li>Meter 2</li>
                        <li>Meter 3</li>
                        <li>Meter 4</li>
                    </ul>
                    <ul>
                        <p class="icon-text">
                            <i class="fa-regular fa-bell"></i>
                            Notification
                        </p>
                    </ul>
                </nav>
            </div>
            <div class="line"></div>
            <nav class="log-out">
                <ul>
                    <p class="icon-text">
                        <i class="fa-solid fa-power-off"></i> Log out
                    </p>
                </ul>
                <ul>
                    <p class="icon-text"><i class="fa-solid fa-question"></i> Help</p>
                </ul>
            </nav>
        </div>

        <div id="main">
            <div class="status-bar">
                <p class="status">Metter</p>
            </div>

            <div class="title-bar">
                <p class="title">Building Management System (BMS)</p>
            </div>
            <div class="device-block">
                <div class="device-name">Metter 1</div>
                <div class="update-status">
                    Update Time:
                    <span class="updated-date-time">1/30/2024 03:45 PM</span>
                </div>
            </div>
            <br />
            <div class="charts-container">
                <div class="chart-block">
                    @*=========== Value block U12 U23 U31 =============*@

                    <div class="chart-title">Phase Voltage (V)</div>
                    <div class="wrapper">
                        <div class="data-block">
                            <div class="field">U12</div>
                            <div class="value text-orange" id="data-u12"></div>
                        </div>

                        <div class="data-block">
                            <div class="field">U23</div>
                            <div class="value text-yellow" id="data-u23"></div>
                        </div>

                        <div class="data-block">
                            <div class="field">U31</div>
                            <div class="value text-green" id="data-u31"></div>
                        </div>
                    </div>
                    @*========== Chart for u12 u23 u31 ===============*@
                    <div style="width: 100%">
                        <div class="chart-display">
                            <div>
                                <canvas id="phase-chart"
                                        style="position: relative; height: 100%; width: 100%"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                @*============= Value block for Current I1 I2 I3 =============*@
            <div class="chart-block">
                <div class="chart-title">Current (A)</div>
                <div class="chart-display"></div>
                <div class="wrapper">
                    <div class="data-block">
                        <div class="field">I1</div>
                        <div class="value text-orange" id="data-i1"></div>
                    </div>

                    <div class="data-block">
                        <div class="field">I2</div>
                        <div class="value text-yellow" id="data-i2"></div>
                    </div>

                    <div class="data-block">
                        <div class="field">I3</div>
                        <div class="value text-green" id="data-i3"></div>
                    </div>
                </div>
                @*============= Chart for I1 I2 I3 ===============*@
                <div style="width: 100%">
                    <div class="chart-display">
                        <div>
                            <canvas id="currentmini-chart"
                                    style="position: relative; height: 100%; width: 100%"></canvas>
                        </div>
                    </div>
                </div>
            </div>
                @*============= Value block for Active Power ============*@            
            <div class="chart-block">
                <div class="chart-title">Active Power (kW)</div>
                <div class="chart-display"></div>
                <div class="wrapper">
                    <div class="data-block">
                        <div class="field">P1</div>
                        <div class="value text-orange" id="data-p1"></div>
                    </div>

                    <div class="data-block">
                        <div class="field">P2</div>
                        <div class="value text-yellow" id="data-p2"></div>
                    </div>

                    <div class="data-block">
                        <div class="field">P3</div>
                        <div class="value text-green" id="data-p3"></div>
                    </div>
                </div>
                @*============== Chart for P1 P2 P3 ======================*@
                <div style="width: 100%">
                    <div class="chart-display">
                        <div>
                            <canvas id="activepower-chart"
                                    style="position: relative; height: 100%; width: 100%"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            @*============== Data block for Frequency ============================*@
            <div class="chart-block">
                <div class="chart-title">Frequency (Hz)</div>

                <div class="data-block-large">
                        <div class="field">F</div>
                        <div class="value text-yellow" id="data-frequency"></div>
                </div>

                <div class="chart-display">
                    <div>
                        <canvas id="frequency-chart"
                                style="position: relative; height: 100px; width: 200px"></canvas>
                    </div>
                </div>
            </div>
                <div class="chart-block">
                    <div class="chart-title">Average-volt(v)</div>
                    <div class="chart-display">
                        <div>
                            <canvas id="voltage-chart"
                                    style="position: relative; height: 100px; width: 200px"></canvas>
                        </div>
                    </div>
                </div>
                <div class="chart-block">
                    <div class="chart-title">Average-current(a)</div>
                    <div class="chart-display">
                        <div>
                            <canvas id="current-chart"
                                    style="position: relative; height: 100px; width: 200px"></canvas>
                        </div>
                    </div>
                </div>
                <div class="chart-block Consumption">
                    <div class="chart-title">Consumption(MWh)</div>
                    <div class="chart-display">
                        <div>
                            <canvas id="consumption-chart"
                                    style="position: relative; height: 100%; width: 100%"></canvas>
                        </div>
                    </div>
                </div>
                <div class="line-blue"></div>
                <div class="chart-block Consumption2">
                    <div class="chart-title">Consumption(kWh)</div>
                    <div class="chart-display">
                        <div>
                            <canvas id="consumption2-chart"
                                    style="position: relative; height: 100%; width: 100%"></canvas>
                        </div>
                    </div>
                </div>
                <div class="line-orange"></div>
                <div class="chart-block Current2">
                    <div class="chart-title">Current(A)</div>
                    <div class="chart-display">
                        <div>
                            <canvas id="current2-chart"
                                    style="position: relative; height: 100%; width: 100%"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="generate-report" title="Show all data">
            <a href="@Url.Action("Index", "METTER_DATA")" class="link-button">
                <i class="fa-solid fa-print"></i>
            </a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/Scripts/Script.js"></script>

@*========================================= SCRIPT BELOW ================================================*@

    <script>
        /*================ DATA FETCHING ========================*/


        const x = @Html.Raw(ViewBag.Data);

        /*================ UTILS VARIABLE ========================*/

        let dataLength = x.length;

        const labels = [];

        const labelRange = 20;

        const sampleSize = 20;

        for (let i = 0; i < labelRange; i++) {
            labels[i] = i.toString();
        }

        let frequencyArray = [];
        let AvoltageArray = [];
        let ACurrentArray = [];
        let ConsumptionArray = [];

        let p1Array = [];
        let p2Array = [];
        let p3Array = [];

        let u12Array = [];
        let u23Array = [];
        let u31Array = [];

        let i1Array = [];
        let i2Array = [];
        let i3Array = [];

        /*================ DATA FROM JSON ========================*/

        for (let i = 0; i < 20; i++) {
            frequencyArray[i]   = x[dataLength - sampleSize + i]["FREQUENCY"];
            AvoltageArray[i]    = x[dataLength - sampleSize + i]["AVolt"];
            ACurrentArray[i]    = x[dataLength - sampleSize + i]["ACurrent"];
            ConsumptionArray[i] = x[dataLength - sampleSize + i]["Consumpiton"];

            p1Array[i] = x[dataLength - sampleSize + i]["P1"];
            p2Array[i] = x[dataLength - sampleSize + i]["P2"];
            p3Array[i] = x[dataLength - sampleSize + i]["P3"];

            i1Array[i] = x[dataLength - sampleSize + i]["I1"];
            i2Array[i] = x[dataLength - sampleSize + i]["I2"];
            i3Array[i] = x[dataLength - sampleSize + i]["I3"];

            u12Array[i] = x[dataLength - sampleSize + i]["U12"];
            u23Array[i] = x[dataLength - sampleSize + i]["U23"];
            u31Array[i] = x[dataLength - sampleSize + i]["U31"];
        }

        /*================ DATA RENDERING ========================*/

        const newestNode = dataLength - 1;

        const u12 = x[newestNode]["U12"];
        const u23 = x[newestNode]["U23"];
        const u31 = x[newestNode]["U31"];

        const i1 = x[newestNode]["I1"];
        const i2 = x[newestNode]["I2"];
        const i3 = x[newestNode]["I3"];

        const p1 = x[newestNode]["P1"];
        const p2 = x[newestNode]["P2"];
        const p3 = x[newestNode]["P3"];

        const f = x[newestNode]["FREQUENCY"];

        let u12Element = document.querySelector("#data-u12");
        u12Element.textContent = u12;

        let u23Element = document.querySelector("#data-u23");
        u23Element.textContent = u23;

        let u31Element = document.querySelector("#data-u31");
        u31Element.textContent = u31;

        let i1Element = document.querySelector("#data-i1");
        i1Element.textContent = i1;

        let i2Element = document.querySelector("#data-i2");
        i2Element.textContent = i2;

        let i3Element = document.querySelector("#data-i3");
        i3Element.textContent = i3;


        let p1Element = document.querySelector("#data-p1");
        p1Element.textContent = p1;

        let p2Element = document.querySelector("#data-p2");
        p2Element.textContent = p2;

        let p3Element = document.querySelector("#data-p3");
        p3Element.textContent = p3;

        let fElement = document.querySelector("#data-frequency");
        fElement.textContent = f;



        /*================ CHART RENDERING ========================*/

        ctx = document.querySelector("#frequency-chart");
        new Chart(ctx, {
            type: "line",
            data: {
                labels: labels,
                datasets: [
                    {
                        label: "Frequency",
                        data: frequencyArray,
                        borderWidth: 1,
                    },
                ],
            },
            option: {
                scales: {
                    y: {
                        beginAtZero: true,
                    },
                },
                responsive: true,
            },
        });


        ctb = document.querySelector("#voltage-chart");
        new Chart(ctb, {
            type: "line",
            data: {
                labels: labels,
                datasets: [
                    {
                        label: "Voltage",
                        data: AvoltageArray,
                        borderWidth: 1,
                    },
                ],
            },
            option: {
                scales: {
                    y: {
                        beginAtZero: true,
                    },
                },
                responsive: true,
            },
        });
        cta = document.querySelector("#current-chart");
        new Chart(cta, {
            type: "line",
            data: {
                labels: labels,
                datasets: [
                    {
                        label: "Current",
                        data: ACurrentArray,
                        borderWidth: 1,
                    },
                ],
            },
            option: {
                scales: {
                    y: {
                        beginAtZero: true,
                    },
                },
                legend: {
                    display: false,
                },
                responsive: true,
            },
        });
        cta = document.querySelector("#consumption-chart");
        new Chart(cta, {
            type: "bar",
            data: {
                labels: labels,
                datasets: [
                    {
                        label: "Consumption",
                        data: ConsumptionArray,
                        borderWidth: 1,
                    },
                ],
            },
            option: {
                scales: {
                    y: {
                        beginAtZero: true,
                    },
                },

                responsive: true,
            },
        });
        cta = document.querySelector("#consumption2-chart");
        new Chart(cta, {
            type: "bar",
            data: {
                labels: [
                    "01:00",
                    "02:00",
                    "03:00",
                    "04:00",
                    "05:00",
                    "05:00",
                    "07:00",
                    "08:00",
                    "09:00",
                    "10:00",
                    "11:00",
                    "12:00",
                    "13:00",
                    "14:00",
                    "15:00",
                ],
                datasets: [
                    {
                        label: "consumption2",
                        data: [160, 165, 160, 180, 340, 341, 343, 350, 347, 330, 0, 0, 0, 0, 0],
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: 1, // Đặt giá trị bắt đầu từ 0 hoặc true nếu muốn bắt đầu từ 0
                    },
                },
                responsive: true,
            },
        });
        cta = document.querySelector("#current2-chart");
        new Chart(cta, {
            type: "line",
            data: {
                labels: [
                    "01:00",
                    "02:00",
                    "03:00",
                    "04:00",
                    "05:00",
                    "06:00",
                    "07:00",
                    "08:00",
                    "09:00",
                    "10:00",

                ],
                datasets: [
                    {
                        label: "p1",
                        data: p1Array,
                        borderWidth: 1,
                    },
                    {
                        label: "p2",
                        data: p2Array,
                        borderWidth: 1,
                    },
                    {
                        label: "p3",
                        data: p3Array,
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: 1, // Đặt giá trị bắt đầu từ 0 hoặc true nếu muốn bắt đầu từ 0
                    },
                },
                responsive: true,
            },
        });
        ctx = document.querySelector("#currentmini-chart");
        new Chart(ctx, {
            type: "line",
            data: {
                labels: labels,
                datasets: [
                    {
                        label: "I1",
                        data: i1Array,
                        borderWidth: 1,
                    },
                    {
                        label: "I2",
                        data: i2Array,
                        borderWidth: 1,
                    },
                    {
                        label: "I3",
                        data: i3Array,
                        borderWidth: 1,
                    },
                ],
            },
            option: {
                scales: {
                    y: {
                        beginAtZero: true,
                    },
                },
                responsive: true,
            },
        });

        ctx = document.querySelector("#activepower-chart");
        new Chart(ctx, {
            type: "line",
            data: {
                labels: labels,
                datasets: [
                    {
                        label: "P1",
                        data: p1Array,
                        borderWidth: 1,
                    },
                    {
                        label: "P2",
                        data: p2Array,
                        borderWidth: 1,
                    },
                    {
                        label: "P3",
                        data: p3Array,
                        borderWidth: 1,
                    },
                ],
            },
            option: {
                scales: {
                    y: {
                        beginAtZero: true,
                    },
                },
                responsive: true,
            },
        });
        ctx = document.querySelector("#phase-chart");
        new Chart(ctx, {
            type: "line",
            data: {
                labels: labels,
                datasets: [
                    {
                        label: "U12",
                        data: u12Array,
                        borderWidth: 1,
                    },
                    {
                        label: "U23",
                        data: u23Array,
                        borderWidth: 1,
                    },
                    {
                        label: "U31",
                        data: u31Array,
                        borderWidth: 1,
                    },
                ],
            },
            option: {
                scales: {
                    y: {
                        beginAtZero: true,
                    },
                },
                responsive: true,
            },
        });
        Chart.resize(100, 200);
    </script>
</body>
</html>
