<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AUEVN - ME96SS Project</title>
    @Styles.Render("~/Content/Css/Style.css")
    @Styles.Render("~/Content/Css/reset.css")
    @Styles.Render("~/Content/Css/bootstrap.min.css")
</head>
<body>
    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/Scripts/Script.js")
    @RenderSection("scripts", required: false)
</body>
</html>
