@model IEnumerable<aueProject.Models.MetterData>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CurrentPower)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentPower)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>
    </tr>
}

</table>
